<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">
    <p>เมนู</p>
    <button mat-menu-item routerLink="./test">หน้าแรก</button>
    <button mat-menu-item [matMenuTriggerFor]="pill">จัดการยา</button>
    <mat-menu #pill="matMenu">
      <button mat-menu-item routerLink="./add-item">เพิ่มยา</button>
      <button mat-menu-item routerLink="./item-list">รายชื่อยา</button>
    </mat-menu>

    <button mat-menu-item [matMenuTriggerFor]="warehouse">คลังสินค้า</button>
    <mat-menu #warehouse="matMenu">
      <button mat-menu-item routerLink="./take-item">เบิก-นำเข้า</button>
      <button mat-menu-item routerLink="./history">ประวัติ การเบิก-ถอน</button>
    </mat-menu>


    <button mat-menu-item [matMenuTriggerFor]="personnel">จัดการพนักงาน</button>
    <mat-menu #personnel="matMenu">
      <button mat-menu-item routerLink="./hr" >พนักงาน</button>
      <button mat-menu-item routerLink="./manage">การจัดการ</button>
      <button mat-menu-item routerLink="./record">บันทึก</button>
      <button mat-menu-item routerLink="./department">แผนก</button>
    </mat-menu>

    <button mat-menu-item routerLink="./customer">สมาชิกลูกค้า</button>
    
    <button mat-menu-item [matMenuTriggerFor]="inform">แจ้งเตือนทานยา</button>
    <mat-menu #inform="matMenu">
      <button mat-menu-item routerLink="./inform" >เพิ่มการแจ้งเตือน</button>
      <button mat-menu-item routerLink="./table">ตารางแจ้งเตือน</button>
    </mat-menu>

    <button mat-menu-item routerLink="./medicine">จัดเก็บข้อมูลยา</button>
    
    <button mat-menu-item [matMenuTriggerFor]="salenote">บันทึกการขาย</button>
    <mat-menu #salenote="matMenu">
      <button mat-menu-item routerLink="./add-order">สร้างใบเสร็จ</button>
      <button mat-menu-item routerLink="./history-sale">ตารางใบเส็จ</button>
    </mat-menu>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
