<app-nav title="เพิ่มยา"></app-nav>



<mat-card class="card flex-container">
  <mat-toolbar color="theme">
    <mat-toolbar-row>
      <span>เพิ่มยา</span>
    </mat-toolbar-row>
  </mat-toolbar>


  <form #item="ngForm" (ngSubmit)="onClickSubmit(item.value)">
    <mat-form-field>
      ชื่อสินค้า : <input matInput name="name" [(ngModel)]="item.name">
    </mat-form-field><br>

    <mat-form-field>
      ราคา : <input matInput name="price" [(ngModel)]="item.price">
    </mat-form-field><br>

   <mat-form-field>
       วิธีใช้: <mat-select name ="used" [(ngModel)]="item.used">
           <mat-option *ngFor="let used of used" [value]="used.value">
             {{used.viewValue}}
           </mat-option>
         </mat-select>
       </mat-form-field><br>


    <mat-form-field>
        เวลาทานยา: <mat-select name ="timepill" [(ngModel)]="item.message">
           <mat-option *ngFor="let timepill of timepill" [value]="timepill.value">
             {{timepill.viewValue}}
           </mat-option>
         </mat-select>
       </mat-form-field><br>

       <mat-form-field>
          ประเภท: <mat-select name ="typepill" [(ngModel)]="item.typepill">
             <mat-option *ngFor="let typepill of typepill" [value]="typepill.value">
               {{typepill.viewValue}}
             </mat-option>
           </mat-select>
         </mat-form-field><br>


    <button type="submit" mat-stroked-button color="primary">เพิ่ม</button>
  </form>
</mat-card>
