.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 25em;
    margin: 10%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0; 
}

a:visited , a:link {
    text-decoration: none;
    color: #ffffff;
    
}
.title {
    margin-right: 30px;
    margin-left: 20px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.example-spacer {
    flex: 1 1 auto;
  }