<app-nav title="บันทึก"></app-nav>





 


<section >
  <br><br>

  <div class="row center-xs">
      <div class="col-xs-6">
        <div class="box">
  <mat-form-field >
    รหัสพนักงาน<input matInput [(ngModel)]="person_id" type="number" [ngModelOptions]="{standalone: true}">
  </mat-form-field><br>
      <br>
  <mat-form-field >
    ผู้ยืนยัน<input matInput >
  </mat-form-field><br><br>
  <button mat-stroked-button color="primary" class="adds"   (click)= "record()">บันทึก</button><br><br>
</div>
</div>
</div>

</section>
