<app-nav title="ตารางแจ้งเตือน"></app-nav>

<form>
  <div class="flex-container">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="ค้นหา">
    </mat-form-field>

  </div>
  <br><br>
  <div class="flex-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>


      <ng-container matColumnDef="tel">
        <th mat-header-cell *matHeaderCellDef> Tel </th>
        <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
      </ng-container>

      <ng-container matColumnDef="pill">
        <th mat-header-cell *matHeaderCellDef> Pill </th>
        <td mat-cell *matCellDef="let element"> {{element.pill}} </td>
      </ng-container>

      <ng-container matColumnDef="used">
        <th mat-header-cell *matHeaderCellDef> Used </th>
        <td mat-cell *matCellDef="let element"> {{element.used}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table><br>
  </div>
  <br><br><br>
</form>